body {
  margin: 0;
  padding: 0;
  background: url("./assets/images/background.png");
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}

.Tasks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Tasks li {
  display: inline-block;
  margin: 20px;
}

.Tasks a {
  text-decoration: none;
  color: black;
}

.Tasks a:hover,
.Tasks a:active,
.Tasks a.active {
  color: #fa923f;
}
