.title {
  text-align: center;
}

.Links {
  margin-top: 40px;
}

a.link {
  font-size: 30px;
  color: darkslategray;
  text-decoration: none;
  margin: 20px;
  text-align: center;
}

a.link:hover {
  font-weight: bold;
  color: darkcyan;
  text-decoration: none;
  box-shadow: 1px 2px 3px #ccc;
  padding: 15px;
  border-radius: 5px;
  letter-spacing: 3px;
  transition: all 0.3s ease-in;
}
